body {
    background-color: pink;
    font-family: 'Rock Salt', sans-serif;
    display: flex;
    flex-direction: column;
    
}

h1 {
    font-size: 100px;
    width: 1100px;
    align-self: flex-end;
    margin-top: 300px;
    margin-right: 300px;
    
    
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-console {
    display: block;
    width: 1350px;
    height: 1855px;
    background-image: url("https://lh3.googleusercontent.com/QaktYoMchoPhK589ChSwvZ3gGqqLH2g3lhlYmj3JntLvZ79hc3mL7npOCcJC22WN9g4");
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    margin: 0 auto;
}



#start-button {
    font-family: 'Rock Salt', sans-serif;
}

.screen {
    background-color: white;
    width: 900px;
    height: 800px;
    margin: 200px auto;
    margin-bottom: 150px;
    padding-top: 50px;
}

.creature-image {
    background-color: gray;
    background: radial-gradient ()
    width: 400px;
    height: 400px;
    padding: 20px;
    margin: 0 auto;
    
}

.stats {
    padding: 40px;

}

.buttons {
    /*padding-left: 34%;*/
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

}
button {
    
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: yellow;
}

#play {
    margin-top: 90px;
}

#start-button {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: hotpink;
}