
body {
    background-color: pink;
    font-family: 'Rock Salt', sans-serif;
    display: flex;
    flex-direction: column;
    
}

h1 {
    font-size: 100px;
    width: 1100px;
    align-self: flex-end;
    margin-top: 300px;
    margin-right: 300px;
}

.info {
    font-size: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.game-console {
    display: block;
    width: 1350px;
    height: 1855px;
    background-image: url("https://lh3.googleusercontent.com/QaktYoMchoPhK589ChSwvZ3gGqqLH2g3lhlYmj3JntLvZ79hc3mL7npOCcJC22WN9g4");
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    margin: 0 auto;
}


.screen {
    background-color: white;
    width: 850px;
    height: 900px;
    margin: 450px auto 150px;
}

.creature-image {
    background-color: gray;
    width: 600px;
    height: 400px;
    padding: 20px;
    margin: 0 auto;
    
}

.stats {
   
    padding: 40px;
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 10px 100px 60px 100px;
}

ul {
    height: 200px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.buttons {
    /*padding-left: 34%;*/
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

}
button {
    
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: yellow;
}

#play {
    margin-top: 100px;
}


#start-button {
    font-family: 'Rock Salt', sans-serif;
    color: white;
    font-weight: 10px;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    background-color: hotpink;
    margin-top: 800px;
    


}
input {
    font-family: 'Rock Salt', sans-serif;
    width: 575px;
    height: 150px;
    border-radius: 10px;
    background-color: white;
    margin-top: 800px;
    margin-left: 200px;
    

}







body.initial-hide .screen, body.initial-hide .buttons  {
    display: none;
}

