html {
    /* background-image: url("https://lh3.googleusercontent.com/QaktYoMchoPhK589ChSwvZ3gGqqLH2g3lhlYmj3JntLvZ79hc3mL7npOCcJC22WN9g4"); */
    /* background-image: url('https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80)'); */
    /* background-image: url('https://pbs.twimg.com/media/D3zSuzNXkAIYKFS?format=jpg&name=medium'); */
    background-image: url('https://pbs.twimg.com/media/D3zSuzDWwAoFDOd?format=jpg&name=large');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
}

body.initial-hide .screen, body.initial-hide .buttons  {
    display: none;
}

body {
    font-family: 'Rock Salt', sans-serif;
    display: flex;
    flex-direction: column;
    
}

h1 {
    font-size: 100px;
    width: 1100px;
    align-self: flex-end;
    margin-top: 300px;
    margin-right: 300px;
}

.info {
    font-size: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.game-console {
    position: relative;
    /* display: block; */
    width: 1350px;
    height: 1855px;
    /* background-image: url("https://lh3.googleusercontent.com/QaktYoMchoPhK589ChSwvZ3gGqqLH2g3lhlYmj3JntLvZ79hc3mL7npOCcJC22WN9g4"); */
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    margin: 0 auto;
    background: radial-gradient(circle at 100px 100px, blue, #000);
    /* animation: bounce; 
    animation-duration: 2s; don't forget to set a duration! */
}


.screen {
    background: radial-gradient(circle at 100px 100px, white, lightgray);
    width: 850px;
    height: 900px;
    margin: 450px auto 150px;
    border: solid 12px magenta;
    border-radius: 3%;


}

/* .animation-screen {
    
    position: relative;
    width: 600px;
    height: 400px;
    margin: 0 auto;
}

.animation-screen img {
    width: 600px;
    height: 400px;
} */

.poops {
    
    position: absolute;
    bottom: 0;
    opacity:80%;
    display: flex;
    flex-wrap: wrap;
    max-height: 400px;
    animation: heartBeat 2s linear;
}
.made-some-poops {
    position: absolute;
    bottom: 0;
    flex-shrink: 3;
    animation: heartBeat 2s linear;
    

}

.stats {
   
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 30px 100px 0px 100px;
}

ul {
    height: 200px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.buttons {
    /*padding-left: 34%;*/
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    font-size: 60px;
    color: white;
}

button {
    
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: rgb(253, 221, 102);
    border: solid 12px magenta;
}



#play {
    margin-top: 80px;
    color: magenta
}

#feed, #nap {
    color: magenta
}


#start-button {
    font-family: 'Rock Salt', sans-serif;
    color: white;
    font-weight: 10px;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    background-color: hotpink;
    margin-top: 800px;
    transition: transform 1s ease-in-out;
}
input {
    font-family: 'Rock Salt', sans-serif;
    text-align: center;
    width: 575px;
    height: 150px;
    border-radius: 10px;
    background-color: white;
    margin-top: 800px;
    margin-left: 200px;
    
}



.animation-screen {
    
    position: relative;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animation-screen img {
    width: 600px;
    height: 400px;
}

.luna-animation {
    animation: swing 2s linear;
}



/* bounce
// flash
// pulse
// rubberBand
// shakeX
// shakeY
// headShake
// swing
// tada
// wobble
// jello
// heartBeat */

/* .character-itself {
    
    margin: 0 auto;
    margin-top: 35%;
    animation: bounce 4s infinite linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 100px 100px, hotpink, #000);
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    

} */









.gif {
    position: absolute;
}

/* .poops {
  
    position: absolute;
    bottom: 0;
    opacity:80%;
    display: flex;
    flex-wrap: wrap;
    max-height: 100px;
}
.made-some-poops {
    position: absolute;
    bottom: 0;
    flex-shrink: 3;
} */